.khan__buy-link {
line-height: 42px;
font-size: 30px;
font-weight: normal;
text-decoration: none;
color: #2f80ed;
margin: 0;
transition: .5s;
align-self: flex-start;
}

.khan__buy-link:hover {
  opacity: 50%;
}
