.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  z-index: 1;
  margin-bottom: 100px;
}


/* блок header */
.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}


/* размеры яндекс практикума */

.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  width: 730px;
  z-index: 4;
  margin: 0 0 0 64px;
}


/*научиться учиться */

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 5;
  margin: 0;
}


/* Какие современные */

.header__link {
  color: #2f80ed;
  text-decoration: none;
  z-index: 3;
}


/* Узнать гиперссылка */

.header__main-illustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 0;
  z-index: 2;
  width: 765px;
  height: 608px;
}


/*хмурая семейка */

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 1;
  margin: 0;
}


/* Заливка синяя */

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 0;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
  margin: 0;
}


/* ширина блока */

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}


/* текст дискрипшн */

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}


/* шрифты */

.two-columns__main-text :not(:last-child) {
  margin-bottom: 30px;
}


/* нижний отступ кроме последнего, не нашёл другой способ, буду признателен если подскажешь как сделать проще */

.two-columns__span-accent {
  font-weight: bold;
  margin: 0;
}


/* вывод жирными */

.digits {
  display: flex;
  margin: 100px auto 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Блок digits */

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 20px;
  width: 60%;
  text-align: center;
}


/* заголовок дигитс */

.section-subtitle {
  width: 60%;
  margin: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}


/* про учёбу и мозг */

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 0;
  width: 1100px;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}


/* параметры таблицы */

.table__cell {
  width: 250px;
  list-style: none;
  margin: 60px 0 0;
}


/* блоки таблицы */

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}


/* заголовки таблицы */

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}


/* текст таблицы */

.feynman {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 890px;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  z-index: 1;
}


/* блок фейнман */



.feynman__title {
  width: 648px;
  text-align: center;
  margin: 100px 0 70px;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  z-index: 3;
}

/* заголовки фейнман */

.feynman__title-subtitle {
  text-align: center;
  margin: 0;
  z-index: 3;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}


/* выучить и забыть */

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 3;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
  margin: 0;
}

/* гиперссылка фейнман */


.feynman__image {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 2;
}


/* фото фейнмана */

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}


/* непосредственно блок */

.kaufman__triangle {
  background-image: url('../images/kaufman-triangle.svg');
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: 2;
  margin: 0;
  background-size: cover;
}

.section-title_theme_dark {
  color: white;
  margin: 90px 0 20px;
  z-index: 3;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 3;
}

/* заголовок h3 */

.table_theme_dark {
  padding-bottom: 90px;
  z-index: 3;
}

/* table kaufman */

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

/* параметры списка */

.table__heading_theme_dark {
  color: white;
}

/* параметры заголовка в списках */

.table__text_theme_dark {
  color: white;
}



/* параметры текста в списках */

.footer {
  background-color: #1f1f1f;
}


/* подвал */

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0 auto 0;
  box-sizing: border-box;
}


/* параметры */

.footer__column_content_copyright {
  flex-basis: 711px;
  margin: 0;
  justify-content: space-between;
  color: white;
}

.footer__column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* параметры бокса */

.logo_place_footer {
  height: 35px;
  margin: 0;
}


/* картинка яндекс в подвале */

.footer__author {
  margin: 18px 0 18px;
  bottom: 0px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}


/* параметры автора */

.footer__column_content_info {
  color: white;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}


/* h3 о практикуме */

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  text-align: left;
  font-weight: normal;
  color: white;
  text-decoration: none;
  margin: 0;
}


/* h3 главная */

.footer__column_content_social {
  color: white;
}



.footer__column-links {
  padding: 20px 0 16px;
  margin: 0;
  list-style: none;
  color: white;
}


/* ссылки на контакты */

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 10px;
}
