.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    list-style: none;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: #f2f2f2;
    z-index: -2;
    margin-bottom: 100px;
}


/* блок header */

.header__title_logo {
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 2;
    width: 183px;
    height: 32px;
}


/* размеры яндекс практикума */

.header__title {
    font-size: 102px;
    line-height: 96px;
    font-weight: bold;
    left: 64px;
    width: 730px;
    z-index: 4;
    position: absolute;
}


/*научиться учиться */

.header__subtitle {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    bottom: 30px;
    left: 64px;
    width: 388px;
    z-index: 5;
}


/* Какие современные */

.header__link {
    color: #2f80ed;
}


/* Узнать гиперссылка */

.header__main-illustration {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0;
    z-index: 1;
    width: 765px;
    height: 608px;
}


/*хмурая семейка */

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0px;
    z-index: -1;
}


/* Заливка синяя */

.description {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 0;
}

.description__brief {
    width: 175px;
}


/* ширина блока */

.description__brief h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    color: #2f80ed;
    margin: 0;
}


/* шрифт для блока brief */

.description__main-text {
    width: 80%;
    min-width: 784px;
}


/* текст дискрипшн */

.description__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}


/* шрифты */

.description__main-text p:not(:last-child) {
    margin-bottom: 30px;
}


/* нижний отступ кроме последнего, не нашёл другой способ, буду признателен если подскажешь как сделать проще */

.description__span-accent {
    font-weight: bold;
}


/* вывод жирными */

.digits {
    display: flex;
    margin: 100px auto 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Блок digits */

.digits__title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 60%;
    text-align: center;
}


/* заголовок дигитс */

.digits__subtitle {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 60%;
    text-align: center;
}


/* про учёбу и мозг */

.digits__table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 1100px;
    flex-wrap: wrap;
    padding: 0;
}


/* параметры таблицы */

.digits__cell {
    width: 250px;
    list-style: none;
    margin-top: 60px;
}


/* блоки таблицы */

.digits__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}


/* заголовки таблицы */

.digits__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
}


/* текст таблицы */

.feynman {
    display: flex;
    position: relative;
    height: 890px;
    justify-content: center;
    /*  align-items: center; */
    background-color: #f2f2f2;
    z-index: -1;
}


/* блок фейнман */

.feynman__title-subtitle {
    position: absolute;
    top: 100px;
    width: 648px;
    text-align: center;
    margin: 0;
    z-index: 2;
}


/* заголовки фейнман */

.feynman__title-subtitle h2 {
    font-size: 120px;
    font-weight: bold;
    line-height: 1.15;
}


/* параметры для h2 */

.feynman__title-subtitle h3 {
    font-size: 36px;
    font-weight: normal;
    line-height: 51px;
    margin-top: 70px;
}


/* параметры для h3 */

.feynman__link {
    position: absolute;
    right: 48px;
    /* align-items: center; */
    top: 50%;
    z-index: 2;
}


/* гиперссылка фейнман */

.feynman__link a {
    font-size: 36px;
    font-weight: normal;
    line-height: 51px;
    color: #2f80ed;
}


/* параметры для текста <a> */

.feynman__image {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}


/* фото фейнмана */

.kaufman {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -2;
    overflow: hidden;
    padding-bottom: 90px;
}


/* непосредственно блок */

.kaufman__section-title_theme_dark {
    width: 60%;
    margin: 90px 0 20px;
    text-align: center;
    color: white;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
}


/* заголовок h2  */

.kaufman__section-subtitle_theme_dark {
    width: 60%;
    margin: 0;
    text-align: center;
    color: white;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}


/* заголовок h3 */

.kaufman__table_theme_dark {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 1100px;
    flex-wrap: wrap;
    padding: 0;
}


/* table kaufman */

.kaufman__cell {
    width: 200px;
    margin-top: 80px;
}


/* параметры списка */

.kaufman__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}


/* параметры заголовка в списках */

.kaufman__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: white
}


/* параметры текста в списках */

.kaufman__logo {
    position: absolute;
    width: 877px;
    height: 877px;
    right: -210px;
    top: 0;
    z-index: -1;
}


/* треугольник  */

.footer {
    padding-top: 60px;
    background-color: #1f1f1f;
}


/* подвал */

.footer__columns {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 350px;
    padding-top: 60px;
    padding-bottom: 40px;
}


/* параметры */

.footer__column_content_copyright {
    flex-basis: 711px;
    position: relative;
}


/* параметры бокса */

.footer__logo_place {
    width: 183px;
    height: 35px;
    margin: 0;
}


/* картинка яндекс в подвале */

.footer__author {
    margin: 18px 0 18px 0;
    position: absolute;
    bottom: 0px;
    color: white;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}


/* параметры автора */

.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: white;
}


/* h3 о практикуме */

.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    text-align: left;
    font-weight: normal;
    color: white;
}


/* h3 главная */

.footer__column-links {
    padding: 20px 0 16px;
    margin: 0;
}


/* ссылки на контакты */
